 {% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="form-box card">

    <h1>login</h1>

    {% if error %}
        <div class="error">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <label>username</label>
        <input type="text" name="username">

        <label>password</label>
        <input type="password" name="password">

        <button type="submit" class="btn">
            login
        </button>

    </form>

    <p style="margin-top: 20px;">
        don't have an account?
        <a href="{% url 'register' %}">
            register
        </a>
    </p>

</div>

{% endblock %}