<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">email</label>
      <input type="email" name="email"><br>
        <label for="">verification code</label>
      <input type="text" name="code"><br>

      <button type="submit">Verify</button>

    </form>
    {% if error %}
    {{ error }}
    {% endif %}
</body>
</html>